@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    align-content: center;
    font-family: 'Syne Mono', monospace;
}

#title {
 margin-top: 14px;
}

body {
    background-color: whitesmoke;
}

table {
    border: 1px solid black;
    margin-left: 20%;
    margin-right: 20%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

button {
    width: 70%;
    height: 45px;
    font-size: larger;
}

#plant {
    position: absolute;
    right: 0px;
    top: 80px;
    width: 5px;
    border: 1px solid black;
}
#plant td {
  font-size: 11px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}